.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__user {
  color: rgb(234, 233, 233);
  margin-right: 15px;
}

.navigation__link {
  text-decoration: none;
  color: rgb(234, 233, 233);
  margin-right: 10px;
}
