.header {
  width: 90vw;
  max-width: 1280px;
  height: 50px;
  background-color: rgb(219, 126, 59);
  display: flex;
  justify-content: space-between;
}

.header__image_container {
  margin-left: 20px;
}

.header__image {
  height: 50px;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
